<section class="bg-primary p-4 rounded-2 border"> </section>
<section class="bg-dark text-light p-2 rounded-2 border - bottom"> </section>
<section class="bg-secondary text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start rounded-2">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>About <span class="text-warning">Us</span></h1>
        <p class="lead my-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sint dolore ratione blanditiis omnis maiores accusamus, est magnam eaque nihil tempora sequi, beatae natus, asperiores placeat? Sed, illo totam numquam aperiam est impedit. Suscipit nisi voluptates praesentium, qui saepe a!Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sint dolore ratione blanditiis omnis maiores accusamus, est magnam eaque nihil tempora sequi, beatae natus, asperiores placeat? Sed, illo totam numquam aperiam est impedit. Suscipit nisi voluptates praesentium, qui saepe a!Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sint dolore ratione blanditiis omnis maiores accusamus, est magnam eaque nihil tempora sequi, beatae natus, asperiores placeat? Sed, illo totam numquam aperiam est impedit. Suscipit nisi voluptates praesentium, qui saepe a!
        </p>

        <section class="bg-primary text-light p-3 rounded-2 border">

          <img class="img-fluid w-52 d-none d-sm-block" src="..\assets\images\AboutUsStockImage.jpg" alt="About Us Stock Image">

        </section>
      </div>
    </div>
  </div>
</section>
