<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <title>Barbam Ehitus</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-secondary navbar-dark py-3">

  <div class="container">
    <div class="position-sticky">
      <img class="img-fluid w-25%" src="frontend/angular-app/src/assets/barbam_logo_small.svg" alt="barbam logo">

      <a href="#" class="navbar-brand" routerLink="/">Barbam Ehitus</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#aboutus" class="nav-link" routerLink="/about">About us</a>
        </li>
        <li class="nav-item">
          <a href="#gallery" class="nav-link" routerLink="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a href="#previousprojects" class="nav-link" routerLink="/previous projects">Previous Projects</a>
        </li>
        <li class="nav-item">
          <a href="#login" class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Showcase -->
<section class="bg-secondary text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex allign-items-center justify-content-between">
      <div>
        <h1>For All Your <span class="text-warning">Construction Solutions</span></h1>
        <p class="lead my-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sint dolore ratione blanditiis omnis maiores accusamus, est magnam eaque nihil tempora sequi, beatae natus, asperiores placeat? Sed, illo totam numquam aperiam est impedit. Suscipit nisi voluptates praesentium, qui saepe a!
        </p>
        <button class="btn btn-primary btn-lg">Contact Us For An Inquiry</button>
      </div>
      <img class="img-fluid w-50 d-none d-sm-block" src="assets/barbam_logo.svg" alt="barbam logo">
    </div>
  </div>
</section>

<!-- News Letter -->

<section class="bg-primary text-light p-5">
  <div class="container">
    <div class="d-md-flex justify-content-between align-itmes-center">
      <h3 class="mb-3 mb-md-0">Sign Up For Our News Letter</h3>

      <div class="input-group news-input">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Email"
        >
        <button
          class="btn btn-dark btn-lg"
          type="button"
        >
          Button
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Boxes -->
<section class="p-5">
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-building"></i>
            </div>
            <h3 class="card-title mb-3">
              Ventilation
            </h3>
            <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, illo impedit quae ullam omnis aperiam!
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-secondary text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-bricks"></i>
            </div>
            <h3 class="card-title mb-3">
              Masonry
            </h3>
            <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, illo impedit quae ullam omnis aperiam!
            </p>
            <a href="#" class="btn btn-dark">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-globe"></i>
            </div>
            <h3 class="card-title mb-3">
              Other
            </h3>
            <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, illo impedit quae ullam omnis aperiam!
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Us -->
<section id="about_us" class="p-5">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img src="assets/undraw_interior_design_re_7mvn.svg" class="img-fluid" alt="interior design">
      </div>
      <div class="col-md p-5">
        <h2>Who Are We</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam excepturi, quam aut magni sunt molestias.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta inventore repellat sequi id animi provident dolorum laudantium numquam saepe obcaecati, deleniti architecto voluptatem ipsam perspiciatis aliquam, quis molestias delectus harum.
        </p>
      </div>
    </div>
  </div>

</section>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
